:root {
  --bg: #f7dde1;
  --font: "Archivo", sans-serif;
  --font-display: "Permanent Marker", cursive;
  --hotpink: #e93301;
  --orange: #00140a;
  --black: #0000;
  --gradient: linear-gradient(35deg, var(--orange), var(--hotpink));
}

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  min-height: 100vh;
  background: var(--bg);
  font-family: var(--font);
}
